{{ $has_attachments := partial "functions/has_attachments" . }}
{{ $link := .Params.publisher_link | default "" }}

<style>
.pub-img {box-shadow: 5px 5px 5px #ccc; border-radius:10%; display: inline-block; width: 150px; 
margin-bottom: 10px; margin-right: 10px; margin-left: 15px; 
transition: transform .2s}
.pub-img:hover {transform: scale(1.5)}
.pub-title {font-size: 18px; font-family: arial; font-weight: bold; margin:0; margin-bottom: 5px}
.pub-list {margin-top: 0px; margin-bottom: 50px}
.pub-author {font-size: 15px; font-family: arial; margin: 2px}
.pub-publication {font-size: 15px; font-family: arial; margin: 2px; margin-bottom: 10px}
</style>

{{ $resource := (.Resources.ByType "image").GetMatch "*featured*" }}
{{ with $resource }}
{{ $image := .Fill (printf "2000x2000 %s" .Params.image.focal_point ) }}
<img src="{{ $image.RelPermalink }} " alt="" class="pub-img" align="left">
{{end}}

<div class="pub-list">
  <h2 class = "pub-title">{{.Title | markdownify}}</h2>
  <h2 class = "pub-author">{{ partial "page_metadata_authors" . }}</h2>
  
  {{ if eq .Params.publication "In preparation"}}
    <h2 class = "pub-publication" style="font-weight: bold">In preparation</h2>
  {{else}}
    <h2 class = "pub-publication"><a href="{{ $link | safeURL }}" target="_blank">{{.Params.publication | markdownify}}</a> ({{.Date.Format "2006"}}).</h2>
  {{end}}

  <p>{{ partial "page_links" (dict "page" . "is_list" 1) }}</p>
  <br>
</div>

